@model Viajes.Web.Data.Entities.TripEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TripEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDateTrip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDateTrip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDateTrip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDateTrip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DestinyCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinyCity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
