@model TripsAndTravels.Web.Data.Entities.TripEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TripEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTrip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTrip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDateTrip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDateTrip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDateTrip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDateTrip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DestinyCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinyCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Document)
        </dt>     
        <dd>
            @Html.DisplayFor(model => model.User.Document)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>


<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Trip Expenses</h3>
            </div>
            <div class="panel-body">

                @foreach (var item in Model.TripDetails)
                {

                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">

                                <p><b>Expenses Number</b></p>
                                <p>$@Html.DisplayFor(modelItem => item.Expenses.Count)</p>

                               

                                <p><b>Total Expenses</b></p>
                                <p>@Html.DisplayFor(modelItem => item.TotalExpenses)</p>

                            </div>
                           
                        </div>
                    </div>
                    <hr />
                    <br />

                }



            </div>
        </div>
    </div>
</div>











